<div class="userbody">
    <div class="profile" id="pinfo">
        <h1 class="welcome">Profile</h1>

        <h2 class="welcome"><%= @user.email%></h2>

        <%= image_tag @user.image, :class => 'pfp' if @user.image.present? %>

        <h3 class="welcome">Info</h3>
        <p><%= @user.info %>.</p>


        <%= link_to 'Edit Profile', edit_user_path if @current_user.id == @user.id%>
    </div>
    <div class="profile" id="priddle">
        <div id="borderriddle"></div>
        <h1 class="welcome">Riddles</h1>
        <% @user.riddles.each do |riddle| %>
            <li class="welcome">
                <%= link_to riddle.name, riddle %>
            </li>
        <% end %>
    </div>
</div>
