<h1>Profile</h1>

<h2><%= @user.email%></h2>


<%= image_tag @user.image if @user.image.present? %>

<h3>Info</h3>
<p><%= @user.info %>.</p>

<%= link_to 'Edit Profile', edit_user_path %>

<h3>Riddles</h3>
<% @user.riddles.each do |riddle| %>
    <li>
        <%= link_to riddle.name, riddle %>
    </li>
<% end %>