<h1><%= @riddle.name %></h1>

<h2> <%= @riddle.question %> </h2>

<%= form_with do |f| %>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
    <%= f.submit %>
<% end %>

<% if @current_user.id == @riddle.user_id %>
    <%= link_to 'Edit Riddle', edit_riddle_path %>
<% end %>


