<div class="riddleshow">
    <h1 class="bouncingheadings"><%= @riddle.name %></h1>

    <h2> <%= @riddle.question %> </h2>

    <% if @flash_alert.present? %>
        <h1 class="flash"><%= @flash_alert %></h1>
    <% end %>

    <%= form_tag riddle_path(@riddle) do %>
        <%= label_tag :please_answer_below %>
        <%= text_field_tag :answer %>
        <%= submit_tag "Answer", :class => "answerbutton" %>
    <% end %>

    <% if @current_user.id == @riddle.user_id %>
        <%= link_to 'Edit Riddle', edit_riddle_path %>
    <% end %>
</div>


